@import "nav";

.social {
  width: 90px;
  position: fixed;
  margin-top: 6rem;
  #{&}_labels {
    margin: 0.3em 0 0.3em 0;
    .social_labels_list {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      align-items: center;
      padding: 0.05em;
      margin-left: auto;
      margin-right: auto;
      .links {
        .media_icons {
          color: $media-primary;
          text-shadow: 0 0 3px #222;
          font-size: 2.5em;
          display: inline-block;
          &:hover {
            transition: color 500ms;
          }
        }
        .in {
          &:hover {
            color: $in;
          }
        }
        .git {
          &:hover {
            color: $git;
          }
        }
        .hrank {
          &:hover {
            color: $hrank;
          }
        }
        .insta {
          &:hover {
            color: $insta;
          }
        }
        .fb {
          &:hover {
            color: $fb;
          }
        }
        .tweet {
          &:hover {
            color: $tweet;
          }
        }
      }
    }
  }
}
