@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Actor&family=Oswald&display=swap');

.logo {
    color: $brand-primary;
    font-family: 'Acme', sans-serif;
    font-size: 1.75rem;

    #{&}_icon {
        color: $logo-primary;
        display: inline-block;
        margin-right: 0.3em;
    }

    #{&}_brand {
        font-size: 2rem;
        .name {
            color: $brand-secondary;
            font-family: 'Actor', sans-serif;
        }
    }
}
