// nav bar brand
$brand-primary: #faf0e6;
$logo_brand: #f5f5dc;
$brand-secondary: #ff8c00;
$logo-primary: #ff8c00;
$logo-highlight: #00ff7f;
$navbar-bg: rgba(255, 255, 255, 0.3);

// social media
$media-primary: #ffffe0;
$media-bg: rgba(255, 140, 0, 0.1);
$in: #008b8b;
$git: #ff4500;
$hrank: #008000;
$insta: #663399;
$fb: #1e90ff;
$tweet: #00ced1;
