// nav bar brand
$brand-primary: #faf0e6;
$brand-secondary: #228b22;
$logo-primary: #228b22;
$logo-highlight: #00ff7f;

// social media
$media-primary: #696969;
$media-bg: rgba(255, 215, 0, 0.1);
$git: #ff4500;
$hrank: #008000;
$insta: #663399;
$fb: #1e90ff;
$tweet: #00ced1;
