{{>header}}
{{>navbar}}
{{>content}}
<div class="bg_about">
    <div class="info">
        <div class="pic">
            <img class="pic_img" src="/img/profile.jpg" height="180px" width="150px" alt="profile pic">
        </div>
        <div class="prof">
            <h3>Ravi Teja Y</h3>
            <p>Software Engineer (MERN Stack)</p>
        </div>
    </div>
    <hr>
    <div class="lead content">
        <p>
            I'm a Programmer with 5 Years of experience currently holding
            the position as Software Engineer at <i>Merlin Softech and Telecom Private Limited</i>, Hyderabad.
            My responsibilities are designing software solutions for improving
            application processes, workflows, implementing reliable software structure and code analysis. Integrating
            data between the application and database.
        </p>
        <button class="btn btn-md btn-success">Resume</button>
    </div>
</div>


{{>footer}}