{{>header}}

<div class="w_brand">
    <a class="navbar-brand w_brand_name" href="/">YRT<span class="w_sec"><i class="fab fa-resolving"></i></span></a>
</div>
<div class="w_sort">
    <div class="row">
        <div class="col-6">
            {{>content}}
        </div>
        <div class="col-6 w_nav">
            <ul class="ms-auto mb-2 mb-lg-0 w_list">
                <li class="nav-item">
                    <a class="nav-link" href="/">Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pro">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cert">Certifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/int">Interests</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{>footer}}