<header class="head">
    <!--menu tabs-->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid mx-5">
            <div class="logo">
                <span class="logo_icon"><i class="fas fa-headphones-alt"></i></span>
                <a class="navbar-brand logo_brand" href="/">YRT<span class="name">ravi</span></a>
            </div>
            <button class="navbar-toggler none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 n_content">
                    <li class="nav-item n_list">
                        <a class="nav-link n_render" href="/">Welcome</a>
                    </li>
                    <li class="nav-item n_list">
                        <a class="nav-link n_render" href="/about">About</a>
                    </li>
                    <li class="nav-item n_list">
                        <a class="nav-link n_render" href="/pro">Projects</a>
                    </li>
                    <li class="nav-item n_list">
                        <a class="nav-link n_render" href="/cert">Certifications</a>
                    </li>
                    <li class="nav-item n_list">
                        <a class="nav-link n_render" href="/int">Interests</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>